.action-items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.action-items-list h2 {
  text-transform: uppercase;
}

.action-item {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 80px;
}

.action-item > * {
  margin-right: 47px;
}

.action-item__content__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-item__progress {
  width: 220px;
  font-size: 12px;
}
.action-item-progrss__bar {
  width: 185px;
}
