.action-items-list-section {
  width: 90%;
  border-width: 1px;
  border-color: rgb(121, 121, 121);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  margin-bottom: 60px;
}

.action-items-list-section__heading {
  margin-bottom: 40px;
}

.action-items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.action-item {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.action-item__avatar {
  width: 95px;
  height: 95px;
  border-radius: 100%;
}

.action-item__content__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-item__progress {
  width: 220px;
  font-size: 12px;
}
.action-item-progrss__bar {
  width: 185px;
}
