.app-container {
  width: 80%;
  margin: auto;
  padding: 15px;
  padding-bottom: 80px;
}

.doc-summary-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 160px;
}

.postal-page-container {
  width: 60%;
  margin: 36vh auto;
}

.postal-page-header {
  font-size: 2.4rem;
  margin-bottom: 19px;
}

.language-selector {
  position: absolute;
  top: 50px;
  right: 35px;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  color: #333333;
}

.highlighted {
  font-weight: 600;
  color: #583bff;
}

.problem-page-image-banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 322px;
  margin: 20px 0;
}

.problem-detail-content-container {
  display: flex;
  color: #333333;
}
